workflow_notice.json
{
  "name": "CampusFlow - Notice Broadcast Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notice",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "id"
        },
        "start": "={{ $json.body.eventDate }}T09:00:00Z",
        "end": "={{ $json.body.eventDate }}T10:00:00Z",
        "additionalFields": {
          "description": "={{ $json.body.aiSummary }}",
          "summary": "=📣 CampusFlow Notice: {{ $json.body.eventTitle }}"
        }
      },
      "id": "gcal-node",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        350,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gcal-creds",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-node",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $node[\"Split In Batches\"].context[\"currentRunData\"][\"entry\"] }}",
        "message": "=📣 Notice Alert:\n{{ $node[\"Webhook\"].json.body.aiSummary }}\n\nAdded to your calendar! — CampusFlow 🎓"
      },
      "id": "twilio-node",
      "name": "Twilio WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Twilio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio WhatsApp": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
